<div class="container-fluid">
  <div class="row vh-100">
    
    <!-- Sidebar -->
    <div class="col-12 col-md-3 col-lg-2 bg-light border-end p-3 overflow-auto">
      <nav>
        <div
          cdkDropList
          [cdkDropListData]="[]"
          [cdkDropListConnectedTo]="['formBuilder']"
          cdkDropListSortingDisabled="true"
          class="d-flex flex-column gap-2 mb-4"
        >
          <div
            *ngFor="let field of fieldPalette; trackBy: trackByFieldPalette"
            cdkDrag
            [cdkDragData]="field"
             (click)="displayContent(field)"
            class="btn btn-outline-primary text-start"
          >
            {{ field.label }}
          </div>
        </div>
      </nav>
    </div>

    <!-- Main Content Area -->
   <div class="col bg-white p-4 overflow-auto">
  <section
    cdkDropList
    #formBuilderDropList="cdkDropList"
    id="formBuilder"
    [cdkDropListData]="formFields"
    (cdkDropListDropped)="onDropInRow($event)"
    class="border border-primary-subtle rounded p-3 mt-3"
    style="min-height: 300px;"
  >
    <h1 class="mb-3">Form Builder</h1>

    <!-- Rendered Component for Selected Field -->
    <div
      *ngFor="let field of formFields; trackBy: trackByFormField"
      cdkDrag
      class="border rounded bg-light p-3 mb-2"
    >
      <app-autocomplete *ngIf="field.type === 'autocomplete'" [field]="field"></app-autocomplete>
      <app-text-field *ngIf="field.type === 'text'" [field]="field"></app-text-field>
    </div>
  </section>
</div>


  </div>
</div>
