<div class="container-fluid">
  <div class="row vh-100">
    
    <!-- Sidebar -->
    <div class="col-12 col-md-3 col-lg-2 bg-light border-end p-3 overflow-auto">
      <nav>
        <div
          cdkDropList
          [cdkDropListData]="[]"
          [cdkDropListConnectedTo]="['formBuilder']"
          cdkDropListSortingDisabled="true"
          class="d-flex flex-column gap-2 mb-4"
        >
          <div
            *ngFor="let field of fieldPalette; trackBy: trackByFieldPalette"
            cdkDrag
            [cdkDragData]="field"
             (click)="displayContent(field)"
            class="btn btn-outline-primary text-start"
          >
            {{ field.label }}
          </div>
        </div>
      </nav>
    </div>

    <!-- Main Content Area -->
    <div class="col bg-white p-4 overflow-auto">

      <!-- Rendered Component for Selected Field -->
     <section class="mb-4" cdkDrag>
  <app-autocomplete></app-autocomplete>
  <app-text-field></app-text-field>
</section>


    </div>

  </div>
</div>
