<div class="sidebar">
  <nav>
    <button #autocompleteButton (click)="displayContent('autocomplete')">Autocomplete</button>
    <a routerLink="/Button" routerLinkActive="active">Button</a>
    <a routerLink="/Checkbox Group" routerLinkActive="active">Checkbox Group</a>
    <a routerLink="/Date Field" routerLinkActive="active">Date Field</a>
    <a routerLink="/Autocomplete" routerLinkActive="active">File Upload</a>
    <a routerLink="/Button" routerLinkActive="active">Header</a>
    <a routerLink="/Checkbox Group" routerLinkActive="active">Hidden Input</a>
    <a routerLink="/Date Field" routerLinkActive="active">Number</a>
    <a routerLink="/Date Field" routerLinkActive="active">Paragraph</a>
    <a routerLink="/Date Field" routerLinkActive="active">Radio Group</a>
     <a routerLink="/Date Field" routerLinkActive="active">Select</a>
    <a routerLink="/Date Field" routerLinkActive="active">Text Field</a>
     <a routerLink="/Date Field" routerLinkActive="active">Text area</a>
  </nav>
</div>

<!-- Main Content Area -->
<div class="main-content">
  <app-autocomplete *ngIf="selectedContent === 'autocomplete'"></app-autocomplete>
 
</div>

